body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #2c3e50;
}

.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    background: #2f3640;
    text-align: center;
    text-align: center;
}

.box input[type = "text"],.box input[type = "password"],.box input[type = "email"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0097e6;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 30px;
    transition: 0.25s;
}
.box h1{
 color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 260px;
    border-color: #38ada9;
}

.box input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0097e6;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 30px;
    transition-duration: 0.25s;
    cursor: pointer;  
}

.box input[type = "submit"]:hover{
    background: #38ada9;
}

p{
    color: white;
    text-decoration-color: white;
}

a[href]{
    color: green;
}

a[href]:hover{
    color: red;
    transition-duration: 1s;
}
